<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>在线签到</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="admin-login-block layui-bg-cyan">

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">输入学号：</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="学号" class="layui-input">
<!--            <input type="text" name="city1" lay-verify="title" autocomplete="off" placeholder="所在省份" class="layui-input">-->
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在省份</label>
        <div class="layui-input-block">
            <select id="city" name="city" lay-filter="aihao">
                <option value="湖南省">湖南省</option>
                <option value="广东省">广东省</option>
                <option value="河北省">河北省</option>
                <option value="山西省">山西省</option>
                <option value="辽宁省">辽宁省</option>
                <option value="吉林省">吉林省</option>
                <option value="黑龙江省">黑龙江省</option>
                <option value="江苏省">江苏省</option>
                <option value="浙江省">浙江省</option>
                <option value="安徽省">安徽省</option>
                <option value="福建省">福建省</option>
                <option value="江西省">江西省</option>
                <option value="山东省">山东省</option>
                <option value="河南省">河南省</option>
                <option value="湖北省">湖北省</option>
                <option value="海南省">海南省</option>
                <option value="四川省">四川省</option>
                <option value="贵州省">贵州省</option>
                <option value="云南省">云南省</option>
                <option value="陕西省">陕西省</option>
                <option value="甘肃省">甘肃省</option>
                <option value="青海省">青海省</option>
                <option value="台湾省">台湾省</option>
                <option value="北京市">北京市</option>
                <option value="天津市">天津市</option>
                <option value="上海市">上海市</option>
                <option value="重庆市">重庆市</option>
                <option value="香港特别行政区">香港特别行政区</option>
                <option value="澳门特别行政区">澳门特别行政区</option>
                <option value="内蒙古自治区">内蒙古自治区</option>
                <option value="广西壮族自治区">广西壮族自治区</option>
                <option value="西藏自治区">西藏自治区</option>
                <option value="宁夏回族自治区">宁夏回族自治区</option>
                <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>

    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer


        //监听提交
        form.on('submit(demo1)', function(data){
            $.ajax({
                url: "/todalao",
                type: "post",
                data: data.field,
                success: function(s) {
                    if (s == "Applied today") {
                        //加载层-风格3
                        layer.load(2);
                        setTimeout(function () {
                            layer.closeAll('loading');
                        }, 1500);
                        layer.msg("已签到，无需再签", function () {
                            location.href = "/admin/user";
                        });
                    } else {
                        layer.msg("签到成功，明天记得按时签到", function () {
                            location.href = "/dalao";
                        });
                    }
                },
                error:function(){
                    layer.msg("接口异常!", function () {});
                }
            });
            layer.alert(JSON.stringify(data.field), {
                title: 'OKOK'
            })
            return false;
        });


    });
</script>

</body>
</html>